.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-lightest);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid var(--color-light);
  border-top: 4px solid var(--color-dark);
  border-radius: 50%;
}

.text {
  margin-top: var(--spacing-md);
  color: var(--color-dark);
  font-weight: 500;
  letter-spacing: 0.05em;
}
